@import "tailwindcss";

body {
  @apply bg-gray-950 text-gray-200;
}

section {
  position: relative;
}

section {
  scroll-margin-top: 100px;
}

img {
  transition: transform 0.4s ease;
}

img:hover {
  transform: scale(1.03);
}

a:hover svg {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
